<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRhR2V0TTFda478beERpu9iGtGSC_CxG8</string>
	<key>GCM_SENDER_ID</key>
	<string>170292231119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nextfiction.linkai</string>
	<key>PROJECT_ID</key>
	<string>link-ai-0749</string>
	<key>STORAGE_BUCKET</key>
	<string>link-ai-0749.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170292231119:ios:1eb5f8d98aa062c1a8b0ba</string>
</dict>
</plist>